dnspython==1.16.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-PyMongo==2.2.0
flask-talisman==0.6.0
Flask-WTF==0.14.2
itsdangerous==1.1.0
pbr==5.2.1
postgres==2.2.2
psycopg2-binary==2.8.3
pymongo==3.7.2
PyMySQL==0.9.3
python-dotenv==0.10.2
python-slugify==3.0.2
stevedore==1.30.1
text-unidecode==1.2
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Werkzeug==0.16.0
WTForms==2.2.1
