certifi==2022.12.7
charset-normalizer==2.0.12
click==8.0.4
dnspython==1.16.0
Flask==2.0.3
Flask-PyMongo==2.2.0
flask-talisman==0.6.0
idna==2.9
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.0.1
pymongo==3.7.2
python-dotenv==0.10.2
python-slugify==3.0.2
requests==2.27.1
six==1.16.0
text-unidecode==1.2
urllib3==1.26.12
Werkzeug==2.0.3
