{% extends "base.html" %}
{% block title %}Page Not Found | {% endblock %}
{% block content %}

<div class="container-75">
    <div class="center-align">
        <div class="row">
            <div class="col s12">
                <img src="{{ url_for('static', filename='img/errors/500.png') }}" alt="Page Not Found" class="error-img responsive-img">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h2 class="purple-text bold mark-white font-amatic text-shadow-1">
                    <span class="pink-text text-lighten-2">Oops!</span>
                    Something went wrong.
                    <br>
                    Let's take you
                    <a href="{{ url_for('main.home') }}" class="blue-text">back home
                        <i class="far fa-arrow-alt-circle-left material-icons small" aria-hidden="true"></i>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}