/*----- @imports -----*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Emilys+Candy|Fredericka+the+Great|Merienda+One|Rye|Special+Elite");

.font-abril {
    font-family: "Abril Fatface", serif, cursive;
    letter-spacing: 1px;
}

.font-emilys-candy {
    font-family: "Emilys Candy", cursive;
}

.font-merienda {
    font-family: "Merienda One", cursive;
}

.font-rye {
    font-family: "Rye", cursive;
    letter-spacing: 1.25px;
}

.font-special {
    font-family: "Special Elite", cursive;
    letter-spacing: 5px;
}

.font-amatic {
    font-family: "Amatic SC", cursive;
}

.font-fredericka {
    font-family: "Fredericka the Great", cursive;
}


/*----- Global Settings -----*/
body {
    background-color: rgba(243, 229, 245, 0.5);
}

i {
    vertical-align: top;
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

.container {
    margin: 40px auto;
}

.container-95 {
    width: 95vw;
    margin: 40px auto;
}

.container-90 {
    width: 90vw;
    margin: 40px auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/*----- Custom Flash Toasts -----*/
#flashToast {
    visibility: hidden;
    width: 100%;
    padding: 2em 1em;
    position: fixed;
    z-index: 50;
    top: 80px;
    font-size: 1.5em;
}

#flashToast.show {
    visibility: visible;
    animation: flashToast-on 0.5s, flashToast-off 0.5s 3.5s;
}

@keyframes flashToast-on {
    from {top: 0; opacity: 0;}
    to {top: 80px; opacity: 1;}
}

@keyframes flashToast-off {
    from {top: 80px; opacity: 1;}
    to {top: 0; opacity: 0;}
}


/*----- Login | Register -----*/
.login-register {
    margin: 25px auto;
    border-radius: 10px;
}

.login-form-container,
.register-form-container {
    padding: 10px 25px;
}


/*----- Cards -----*/
.card {
    border-radius: 8px;
    margin-bottom: 50px;
}

.card-image img {
    object-fit: cover;
    height: 50vw;
}

.card-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .card-image .card-title {
    padding: 5px;
    width: 100%;
    mix-blend-mode: luminosity;
    font-size: 1.25em;
    background: rgba(243, 229, 245, 0.75);
}

.card .card-content {
    padding: 5px;
}

.card .all-cards {
    border-top: 1px solid#f06292;
    border-bottom: 1px solid#f06292;
    padding-top: 10px;
}

.card-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


/*----- Recipe Cards -----*/
.recipe-card {
    padding: 15px;
    border: 3px dashed rgba(156, 39, 176, 0.5);
    border-radius: 0.5vw;
    box-shadow: 0 0 0 4px #f8bbd0, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

.user-buttons {
    margin: 10px;
}


/*----- Recipe Ingredients + Directions -----*/
.strike {
    text-decoration: line-through;
}

#ingredients li {
    padding: 1em 0;
    border-top: 1px solid#f06292;
    cursor: pointer;
}

.ingredient {
    font-size: 1.25em;
}

.new-ingredient,
.new-direction {
    border-radius: 8px;
}

.new-ingredient:nth-child(odd),
.new-direction:nth-child(odd) {
    background-color: rgba(252, 228, 236, 0.75);
}

.new-ingredient:nth-child(even),
.new-direction:nth-child(even) {
    background-color: rgba(243, 229, 245, 0.75);
}

#directions {
    list-style: none;
    counter-reset: directions-counter;
    padding: 0px;
}

.direction {
    font-size: 1.25em;
}

#directions li {
    counter-increment: directions-counter;
    text-align: justify;
    padding: 1em 0;
    border-top: 1px solid#f06292;
    cursor: pointer;
}

#directions>li::before {
    content: "0"counter(directions-counter);
    color: #9c27b0;
    font-weight: bold;
    font-size: 3em;
    margin-right: 0.25em;
    letter-spacing: 2px;
    font-family: "Abril Fatface", serif, cursive;
    line-height: 1;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#directions>li:nth-child(n+10)::before {
    content: counter(directions-counter);
}

#directions>li.completed::before {
    color: #4caf50;
}


/*-------------------- @media queries --------------------*/

/*----- >600px Materialize Tablet size (.m) -----*/
@media (min-width: 600px) {
    .login-form-container,
    .register-form-container {
        padding: 10px 50px;
    }

    .card-image img {
        height: 50vh;
    }

    .ing-dir h5 {
        text-align: left;
    }

    #directions li {
        display: flex;
    }

    .modal {
        padding: 25px;
        border-radius: 8px;
    }
}

/*----- >992px Materialize Desktop size (.l) -----*/
@media (min-width: 992px) {
    .login-register {
        max-width: 50vw;
    }
}