/*----- @imports -----*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

/*----- Global Settings -----*/
body {
    background-color: rgba(243, 229, 245, 0.5);
}


/*----- Login | Register -----*/
.login-register {
    margin-top: 15px;
    border-radius: 10px;
}

.login-form-container,
.register-form-container {
    padding: 10px 50px;
}


/*----- Cards -----*/
.card {
    border-radius: 8px;
}

.card-image img {
    object-fit: cover;
    height: 50vw;
}

.card-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .card-image .card-title {
    background-color: rgba(243, 229, 245, 0.8);
    padding: 5px;
    width: 100%;
    font-weight: bold;
}

.card a {
    font-weight: bold;
    color: #9c27b0;
}

.card .card-content {
    padding: 5px;
}

.card-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


/*----- Recipe Cards -----*/
#recipe-card {
    padding: 15px;
}

#recipe-card .card-title {
    color: #9c27b0;
    text-shadow: 0 5px 5px #000;
    mix-blend-mode: luminosity;
    font-size: 1.6em;
    border-radius: 5px;
    box-shadow: 0 5px 10px #9c27b0;
    background: rgba(0, 0, 0, 0.75);
}


/*----- Recipe Directions -----*/
ol {
    list-style: none;
    counter-reset: directions-counter;
    padding: 0px;
}

ol li {
    counter-increment: directions-counter;
    display: flex;
    font-size: 1em;
    margin-bottom: 0.75em;
}

ol > li::before {
    content: "0"counter(directions-counter);
    color: #9c27b0;
    font-weight: bold;
    font-size: 3em;
    margin-right: 0.25em;
    letter-spacing: 2px;
    font-family: "Abril Fatface", serif, cursive;
    line-height: 1;
}

ol > li:nth-child(n+19)::before {
    content: counter(directions-counter);
}


/*-------------------- @media queries --------------------*/

/*----- >600px Materialize Tablet size (.m) -----*/
@media (min-width: 600px) {
    .card-image img {
        height: 50vh;
    }
}

/*----- >992px Materialize Desktop size (.l) -----*/
@media (min-width: 992px) {
    .login-register {
        max-width: 50vw;
    }
}