/*----- @imports -----*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Akronim|Amatic+SC|Cabin+Sketch|Emilys+Candy|Fredericka+the+Great|Merienda+One|Rye|Special+Elite");

.font-abril {
    font-family: "Abril Fatface", serif, cursive;
    letter-spacing: 1px;
}

.font-akronim {
    font-family: "Akronim", cursive;
}

.font-cabin-sketch {
    font-family: "Cabin Sketch", cursive;
}

.font-emilys-candy {
    font-family: "Emilys Candy", cursive;
    letter-spacing: 1px;
}

.font-merienda {
    font-family: "Merienda One", cursive;
}

.font-rye {
    font-family: "Rye", cursive;
    letter-spacing: 1.25px;
}

.font-special {
    font-family: "Special Elite", cursive;
}

.font-amatic {
    font-family: "Amatic SC", cursive;
}

.font-fredericka {
    font-family: "Fredericka the Great", cursive;
}


/*----- Global Settings -----*/
body {
    background-color: rgba(243, 229, 245, 0.5);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.disabled {
    pointer-events: none;
}

.strike {
    text-decoration: line-through;
}

.upper {
    text-transform: uppercase;
}

.container,
.container-90,
.container-95 {
    margin: auto;
}

.container-95 {
    width: 95vw;
}

.container-90 {
    width: 90vw;
}

.text-shadow-1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.text-shadow-2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

hr {
    margin-bottom: 18px;
}


/*----- NavBar -----*/
nav {
    position: fixed;
    top: 0;
    z-index: 50;
}


/*----- Main -----*/
main {
    margin-top: 150px;
    margin-bottom: 50px;
    flex: 1 0 auto;
}


/*----- Footer -----*/
footer {
    font-size: 1.5em;
    line-height: 2em;
    padding-top: 15px;
}


/*----- Custom Flash Toasts -----*/
.modal {
    margin-top: 100px;
    border-radius: 8px;
}

#flashToast {
    visibility: hidden;
    width: 100%;
    padding: 2em 1em;
    position: fixed;
    z-index: 100;
    top: 80px;
    font-size: 1.5em;
}

#flashToast.show {
    visibility: visible;
    animation: flashToast-on 0.5s, flashToast-off 0.5s 3.5s;
}

@keyframes flashToast-on {
    from {top: 0; opacity: 0;}
    to {top: 80px; opacity: 1;}
}

@keyframes flashToast-off {
    from {top: 80px; opacity: 1;}
    to {top: 0; opacity: 0;}
}


/*----- Login | Register -----*/
.login-register {
    border-radius: 10px;
}

.login-form-container,
.register-form-container {
    padding: 10px 25px;
}


/*----- Cards -----*/
.card:not(#search_form) {
    border-radius: 8px;
    margin-bottom: 50px;
}

.card-image img {
    object-fit: cover;
    height: 100vw;
}

.card-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .card-image .card-title {
    padding: 0px;
    width: 100%;
    /*mix-blend-mode: luminosity;*/
    font-size: 2em;
    font-weight: bold;
    background: rgba(243, 229, 245, 0.75);
    border-top: 5px double #f06292;
    border-bottom: 5px double #f06292;
}

.card .card-content {
    padding: 5px;
}

.card .card-action {
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-items: center;
}

.card .card-reveal {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
}

.card .card-reveal h6 {
    line-height: 1.5em;
}

.card .card-reveal q {
    line-height: 0.5 !important;
}


/*----- Recipe Cards -----*/
.recipe-card {
    padding: 15px;
    border: 3px dashed rgba(156, 39, 176, 0.5);
    border-radius: 0.5vw;
    box-shadow: 0 0 0 4px #f8bbd0, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

#recipe-img-small {
    height: 150px;
    max-width: 300px;
    margin: 0 auto;
}


/*----- Recipe Ingredients + Directions -----*/
.example {
    background-color: rgba(158, 158, 158, 0.1);
    border-radius: 8px;
}

#ingredients li {
    padding: 1em 0;
    border-top: 1px solid#f06292;
    cursor: pointer;
}

.ingredient {
    font-size: 1.25em;
}

.new-ingredient,
.new-direction {
    border-radius: 8px;
}

.new-ingredient:nth-child(odd),
.new-direction:nth-child(odd) {
    background-color: rgba(252, 228, 236, 0.75);
}

.new-ingredient:nth-child(even),
.new-direction:nth-child(even) {
    background-color: rgba(243, 229, 245, 0.75);
}

.ing-dir h5 {
    letter-spacing: 5px;
}

#directions {
    list-style: none;
    counter-reset: directions-counter;
    padding: 0px;
}

.direction {
    font-size: 1.25em;
}

#directions li {
    counter-increment: directions-counter;
    padding: 1em 0;
    border-top: 1px solid#f06292;
    cursor: pointer;
}

#directions>li::before {
    content: "0"counter(directions-counter);
    color: #9c27b0;
    font-weight: bold;
    font-size: 3em;
    margin-right: 0.25em;
    letter-spacing: 2px;
    font-family: "Abril Fatface", serif, cursive;
    line-height: 1;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#directions>li:nth-child(n+10)::before {
    content: counter(directions-counter);
}

#directions>li.completed::before {
    color: #4caf50;
}


/*----- Search -----*/
#search_form h2 {
    margin: 0;
}

#search_form .collapsible-body .row {
    margin-bottom: 5px;
}

#search_form .collapsible-header h5 {
    font-size: 3em;
}

#search_form .search-results {
    font-size: 1.5em;
}

#search-results h5 {
    vertical-align: middle;
}

.collection {
    overflow: visible;
}


/*----- User Profile Page -----*/
#user-avatar {
    height: 150px;
    padding: 0;
    border: 3px dashed rgba(156, 39, 176, 0.5);
    box-shadow: 0 0 0 4px #f8bbd0, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

#avatar-small {
    height: 50px;
    padding: 0;
    border: 2px dotted rgba(156, 39, 176, 0.5);
}

.collapsible-collection {
    padding: 0;
}

.collapsible-collection li:nth-child(odd):not(#search_form li) {
    background-color: rgba(243, 229, 245, 0.75);
}

.collapsible-collection li:nth-child(even):not(#search_form li) {
    background-color: rgba(252, 228, 236, 0.75);
}

.profile-header h5 {
    margin: 0;
    padding: 15px 0;
}

.collapsible-header h5 {
    font-size: 3em;
}

.collapsible-header {
    border-bottom: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.collapsible-header i {
    justify-content: center;
    vertical-align: middle;
}

.collapsible .recipe-card {
    padding: 5px;
}

.collection .collection-item.avatar {
    padding-right: 50px;
    min-height: 60px;
}

.collection .collection-item.avatar .circle {
    border-radius: 0;
}

.collection .collection-item.avatar .title {
    font-size: 1.5em;
}

ul.collapsible {
    margin: 25px auto;
}



/*-------------------- @media queries --------------------*/

/*----- >600px Materialize Tablet size (.m) -----*/
@media (min-width: 600px) {
    .login-form-container,
    .register-form-container {
        padding: 10px 50px;
    }

    .card-image img {
        height: 50vh;
    }

    .ing-dir h5 {
        text-align: left;
    }

    #directions li {
        display: flex;
    }

    .modal {
        padding: 25px;
    }
}

/*----- >992px Materialize Desktop size (.l) -----*/
@media (min-width: 992px) {
    html {
        font-size: 14px;
    }
    .login-register {
        max-width: 50vw;
    }
}