<div class="col s12 m6 l3">
    <div class="card sticky-action hoverable">

        <!-- Card Image -->
        <div class="card-image waves-effect waves-block waves-red">
            {% if recipe.img_src %}
            <img src="{{ recipe.img_src }}" class="activator" alt="Dessert" lazyload="on">
            {% else %}
            <img src="{{ url_for('static', filename='img/desserts/'+recipe.dessert_type|replace(' + ', '-')|replace(' ', '-')|lower+'.png') }}" class="activator" alt="Dessert" lazyload="on">
            {% endif %}
            <a href="{{ url_for('recipes.desserts_recipe', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">
                <span class="card-title center-align purple-text text-darken-4 text-shadow-1 font-emilys-candy" title="{{ recipe.recipe_name }}">
                    {{ recipe.recipe_name }}
                </span>
            </a>
        </div>

        <!-- Card Action (stats) -->
        <div class="card-action purple lighten-3 bold activator">
            <span>
                <i class="far fa-clock material-icons purple-text text-shadow-1" aria-hidden="true"></i><br>
                {% if recipe.total_hrs %}{{ recipe.total_hrs }}h{% endif %} {{ recipe.total_mins }}m
            </span>
            <span>
                <i class="far fa-eye material-icons blue-text text-darken-2 text-shadow-1" aria-hidden="true"></i><br>
                {{ recipe.views }}
            </span>
            <span>
                <i class="far fa-heart material-icons pink-text text-shadow-1" aria-hidden="true"></i><br>
                {{ recipe.user_favs }}
            </span>
        </div>

        <!-- Card Reveal (hidden until clicked) -->
        <div class="card-reveal">
            <h5 class="card-title">
                <i class="far fa-times-circle material-icons text-shadow-1 right" aria-hidden="true"></i>
                <a href="{{ url_for('recipes.desserts_recipe', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">
                    <span class="purple-text text-shadow-1 bold center-align font-emilys-candy">{{ recipe.recipe_name }}</span>
                </a>
            </h5>
            <div class="divider pink lighten-2"></div>
            <div class="divider red"></div>
            <div class="divider orange"></div>
            <div class="divider yellow"></div>
            <div class="divider green"></div>
            <div class="divider blue"></div>
            <div class="divider purple"></div>
            <div class="divider pink"></div>
            <br>
            <i class="fas fa-mouse-pointer materialize-icons" title="{{ recipe.recipe_name }}" aria-hidden="true"></i> :
            <a href="{{ url_for('recipes.desserts_recipe', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">
                <span class="blue-text bold" title="{{ recipe.recipe_name }}">View Recipe</span>
            </a><br>
            <i class="fas fa-utensils materialize-icons" title="{{ recipe.dessert_type }}" aria-hidden="true"></i> :
            <span class="pink-text bold">{{ recipe.dessert_type }}</span><br>
            {% for author in authors %}
            {% if recipe.author|string == author["_id"]|string %}
            <i class="fas fa-user-circle materialize-icons" title="{{ author['username'] }}" aria-hidden="true"></i> author:
            <span class="pink-text bold">{{ author["username"] }}</span><br>
            {% endif %}
            {% endfor %}
            <i class="fas fa-calendar-plus materialize-icons" title="{{ recipe.date_added }}" aria-hidden="true"></i> added:
            <span class="pink-text bold">{{ recipe.date_added }}</span><br>
            {% if recipe.date_added != recipe.date_updated %}
            <i class="fas fa-calendar-check materialize-icons" title="{{ recipe.date_updated }}" aria-hidden="true"></i> updated: 
            <span class="pink-text bold">{{ recipe.date_updated }}</span><br>
            {% endif %}
            <i class="fas fa-info-circle materialize-icons" title="{{ recipe.description }}" aria-hidden="true"></i>
            <span class="purple-text bold"><q>{{ recipe.description|truncate(75, True)|safe }}</q></span>
        </div>
    </div>
</div>
