<!-- FOOTER -->
<div class="row center-align text-shadow-2">
    <div class="col s12 l3">
        <i class="fas fa-birthday-cake material-icons" aria-hidden="true"></i>
        <i class="fas fa-cookie material-icons" aria-hidden="true"></i>
        <i class="fas fa-ice-cream material-icons" aria-hidden="true"></i>
        <i class="fas fa-stroopwafel material-icons" aria-hidden="true"></i>
        <i class="far fa-snowflake material-icons" aria-hidden="true"></i>
        <i class="fas fa-bread-slice material-icons" aria-hidden="true"></i>
    </div>

    <div class="col s12 l6">&copy;<span id="year"></span> <strong>2BN-Desserts</strong></div>

    <div class="col s12 l3">
        <a class="white-text text-shadow-2 waves-effect waves-red btn btn-floating purple lighten-2"
            href="https://github.com/TravelTimN/ci-milestone04-dcd" target="_blank" rel="noopener"
            aria-label="GitHub - TravelTimN">
            <i class="fab fa-github material-icons" title="TravelTimN" aria-hidden="true"></i>
        </a>
        <a class="white-text text-shadow-2 waves-effect waves-red btn btn-floating purple lighten-2"
            href="https://www.linkedin.com/in/travel-tim-nelson" target="_blank" rel="noopener"
            aria-label="LinkedIn - Travel-Tim-Nelson">
            <i class="fab fa-linkedin-in material-icons" title="Travel-Tim-Nelson" aria-hidden="true"></i>
        </a>
    </div>

</div>
