{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css"
    integrity="sha256-+bdWuWOXMFkX0v9Cvr3OWClPiYefDQz9GGZP/7xZxdc=" crossorigin="anonymous" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css"
    integrity="sha256-LWhzWaQGZRsWFrrJxg+6Zn8TT84k0/trtiHBc6qcGpY=" crossorigin="anonymous" type="text/css">
{% endblock %}


<div class="row">
    <div class="col s12 recipe-card card white center-align">

        <!-- the map -->
        <div id="map"></div>

        <h4 class="text-shadow-2 font-special">
            Unique ( <span class="blue-text bold">{{ visitors|count }}</span> ) -
            <br class="show-on-small show-on-medium hide-on-large-only hide-on-extra-large-only">
            Total ( <span class="green-text bold">{{ total_views[0]["total"][0]["total"] }}</span> )
        </h4>

        <div class="divider pink lighten-2"></div>
        <div class="divider red"></div>
        <div class="divider orange"></div>
        <div class="divider yellow"></div>
        <div class="divider green"></div>
        <div class="divider blue"></div>
        <div class="divider purple"></div>
        <div class="divider pink"></div>

        <!-- create table of stats -->

        <table id="visitors-table" class="striped bold font-special center-align">
            <thead class="upper">
                <tr>
                    <th>Country</th>
                    <th>Unique Visitors</th>
                    <th>Total Visits</th>
                </tr>
            </thead>

            <tbody>
                {% for country in visitors|groupby("country") %}
                <tr>
                    <!-- get country and flag -->
                    <td class="valign-wrapper">
                        {% for flag in country.list|groupby("iso2") %}
                            <img src="https://assets.2bn.dev/flags/sm/{{ flag.grouper }}.png" alt="{{ flag.grouper }}" class="flag-icon">
                        {% endfor %}
                        {{ country.grouper }}
                    </td>

                    <!-- get total unique visitors by country -->
                    <td class="blue-text">{{ country.list|count }}</td>

                    <!-- get total visits by country -->
                    <td class="green-text">
                        {% for country_views in total_views[0]["countries"] %}
                            {% if country.grouper == country_views["_id"] %}
                                {{ country_views["total"] }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <div class="divider pink lighten-2"></div>
        <div class="divider red"></div>
        <div class="divider orange"></div>
        <div class="divider yellow"></div>
        <div class="divider green"></div>
        <div class="divider blue"></div>
        <div class="divider purple"></div>
        <div class="divider pink"></div>
        <br><br>

    </div>
</div>


{% block js %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js" integrity="sha256-WL6HHfYfbFEkZOFdsJQeY7lJG/E5airjvqbznghUzRw=" crossorigin="anonymous"></script>

<script>
    // generate the map
    let map = L.map("map", {
        layers: L.tileLayer("http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}"),
        maxBounds: [[-75, -225], [90, 225]],
        maxBoundsViscosity: 0.5,
        minZoom: 2,
        maxZoom: 18
    });

    // add each visitor marker to the map
    let markersArray = [];
    let markerCluster = L.markerClusterGroup();
    {% for visitor in visitors %}
        // set each marker to the country flag (https://www.countryflags.io/)
        iconUrl = "https://assets.2bn.dev/flags/sm/{{ visitor.iso2 }}.png";
        iconAnchor = {% if visitor.username != 'guest' %}[16, 24]{% else %}[12, 18]{% endif %};
        flagIcon = new L.Icon({
            iconUrl: iconUrl,
            iconAnchor: iconAnchor,
        });
        marker = L.marker([{{ visitor.latitude }}, {{ visitor.longitude }}], {icon: flagIcon})
            {% if visitor.username != 'guest' %}.bindTooltip("{{ visitor.username }}"){% endif %}
            .bindPopup("IP: {{ visitor.ip }}<br>Username: {{ visitor.username }}<br>{{ visitor.city }}, {{ visitor.country }}<br>Views: {{ visitor.visits }}<hr>{% for date in visitor.datetime %}<small>{{ date }}</small><br>{% endfor %}");
        markersArray.push(marker);  // push marker to markerArray
        markerCluster.addLayer(marker);  // add marker to markerCluster
    {% endfor %}
    let featureGroup = L.featureGroup(markersArray);  // add all markers to featureGroup
    map.addLayer(markerCluster).fitBounds(featureGroup.getBounds());  // get bounds of all markers and cluster them

</script>
{% endblock %}
