<!-- TOP NAV -->
<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="{{ url_for('home') }}" class="brand-logo font-rye">
            <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="2BN-Desserts Cookie Logo">
            2BN-Desserts
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fas fa-bars material-icons"></i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down text-shadow-2 bold upper">
            <li>
                <a class="waves-effect waves-red btn purple" href="{{ url_for('view_desserts') }}">
                    <i class="fas fa-ice-cream material-icons left white-text"></i>
                    Desserts ({{ total_recipes() }})
                </a>
            </li>
            {% if session.user %}
                <li>
                    <a class="waves-effect waves-green btn blue" href="{{ url_for('profile', username=session['user']) }}">
                        <i class="fas fa-user-circle material-icons left"></i>
                        {{ session['user']|upper }}
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-yellow btn green" href="{{ url_for('add_dessert') }}">
                        <i class="fas fa-plus material-icons left"></i>
                        Add Dessert
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-purple btn pink lighten-2" href="{{ url_for('logout') }}">
                        <i class="fas fa-sign-out-alt material-icons left white-text"></i>
                        Log Out
                    </a>
                </li>
            {% else %}
                <li>
                    <a class="waves-effect waves-purple btn pink lighten-2" href="{{ url_for('login') }}">
                        <i class="fas fa-sign-in-alt material-icons left"></i>
                        Log In | Register
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<!-- MOBILE SIDE NAV -->
<ul class="sidenav" id="mobile-demo">
    <li>
        <h4 class="center-align font-rye text-shadow-2 mark-purple">2BN-Desserts</h4>
    </li>
    <li>
        <a class="waves-effect waves-light btn black text-shadow-2 upper bold hoverable" href="{{ url_for('home') }}">
            <i class="fas fa-home material-icons left white-text"></i>
            Home
        </a>
    </li>
    <li>
        <a class="waves-effect waves-red btn purple text-shadow-2 upper bold hoverable" href="{{ url_for('view_desserts') }}">
            <i class="fas fa-search material-icons left white-text"></i>
            Desserts ({{ total_recipes() }})
        </a>
    </li>
    {% if session.user %}
        <li>
            <a class="waves-effect waves-green btn blue text-shadow-2 upper bold hoverable" href="{{ url_for('profile', username=session['user']) }}">
                <i class="fas fa-user-circle material-icons left white-text"></i>
                {{ session["user"] }}
            </a>
        </li>
        <li>
            <a class="waves-effect waves-teal btn green text-shadow-2 upper bold hoverable" href="{{ url_for('add_dessert') }}">
                <i class="fas fa-plus material-icons left white-text"></i>
                Add Dessert
            </a>
        </li>
        <li>
            <a class="waves-effect waves-purple btn pink lighten-2 text-shadow-2 upper bold hoverable" href="{{ url_for('logout') }}">
                <i class="fas fa-sign-out-alt material-icons left white-text"></i>
                Log Out
            </a>
        </li>
    {% else %}
        <li>
            <a class="waves-effect waves-purple btn pink lighten-2 text-shadow-2 upper bold hoverable" href="{{ url_for('login') }}">
                <i class="fas fa-sign-in-alt material-icons left white-text"></i>
                Log In | Register
            </a>
        </li>
    {% endif %}

    <li class="center-align purple-text font-amatic text-shadow-1">
        <h4 class="bold">&copy; 2BN-Desserts
            <br>
            <a href="https://github.com/TravelTimN" target="_blank" class="blue-text">
                <small>&lpar;&lbrace; Tim Nelson &rbrace;&rpar;</small>
            </a>
        </h4>
        <div class="divider pink lighten-2"></div>
        <div class="divider red"></div>
        <div class="divider orange"></div>
        <div class="divider yellow"></div>
        <div class="divider green"></div>
        <div class="divider blue"></div>
        <div class="divider purple"></div>
        <div class="divider pink"></div>
    </li>
</ul>