<!-- TOP NAV -->
<nav class="nav-extended">
    <div class="nav-wrapper black">
        <a href="{{ url_for('home') }}" class="brand-logo">2BN-Desserts</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="btn black" title="Home" href="{{ url_for('home') }}"><i class="fas fa-home material-icons"></i></a></li>
            {% if session.user %}
                <li><a class="waves-effect waves-green btn blue text-shadow bold upper" title="My Profile" href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user-circle material-icons left"></i>{{ session["user"] }}</a></li>
                <li><a class="waves-effect waves-purple btn pink lighten-2 text-shadow bold upper" title="Log Out" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt material-icons left white-text"></i>Log Out</a></li>
            {% else %}
                <li><a class="waves-effect waves-purple btn pink lighten-2 text-shadow bold upper" title="Log In | Register" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt material-icons left"></i>Log In | Register</a></li>
            {% endif %}
        </ul>
    </div>
    
    
    <!-- BOTTOM NAV -->
    <div class="nav-content purple">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="waves-effect waves-red text-shadow upper" href="{{ url_for('view_desserts') }}" target="_self">Desserts ({{ total_recipes() }})</a></li>
        </ul>
        {% if session.user %}
            <a class="btn-floating btn-large halfway-fab text-shadow" title="Add a Recipe" href="{{ url_for('add_dessert') }}"><i class="fas fa-plus material-icons pink lighten-2 waves-effect waves-circle waves-purple bold"></i></a>
        {% endif %}
    </div>
</nav>


<!-- MOBILE SIDE NAV -->
<ul class="sidenav" id="mobile-demo">
    <li><a class="waves-effect waves-red btn purple text-shadow upper bold hoverable" href="{{ url_for('home') }}"><i class="fas fa-home material-icons left white-text"></i>Home</a></li>
    <li><a class="waves-effect waves-red btn purple text-shadow upper bold hoverable" href="{{ url_for('view_desserts') }}"><i class="fas fa-utensils material-icons left white-text"></i>Desserts</a></li>
    {% if session.user %}
        <li><a class="waves-effect waves-green btn blue text-shadow upper bold hoverable" href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user-circle material-icons left white-text"></i>{{ session["user"] }}</a></li>
        <li><a class="waves-effect waves-purple btn pink lighten-2 text-shadow upper bold hoverable" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt material-icons left white-text"></i>Log Out</a></li>
    {% else %}
        <li><a class="waves-effect waves-purple btn pink lighten-2 text-shadow upper bold hoverable" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt material-icons left white-text"></i>Log In | Register</a></li>
    {% endif %}
</ul>