{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('add_dessert_toDB') }}" method="POST">

    <div class="container-75">

        <!-- RECIPE DETAILS -->
        <div class="row card z-depth-2 recipe-card new-recipe">

            <h4 class="font-special bold upper text-shadow-2 center-align">New Dessert</h4>

            <!-- recipe name -->
            <div class="input-field col s12">
                <i class="far fa-file-alt purple-text material-icons prefix" aria-hidden="true"></i>
                <input id="recipe_name" name="recipe_name" type="text" class="form-control validate"
                    autocomplete="off" pattern="^[\w '.-]{5,50}$" placeholder="Recipe Name" required>
                <label for="recipe_name">
                    <span class="red-text">*</span>
                    required
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="5-50 characters" aria-hidden="true"></i>
                </label>
            </div>

            <!-- recipe description -->
            <div class="input-field col s12">
                <i class="fas fa-align-left purple-text material-icons prefix" aria-hidden="true"></i>
                <textarea id="description" name="description" type="text" class="form-control validate materialize-textarea"
                    autocomplete="off" pattern="^.{15,500}$" placeholder="Description of your Recipe" required></textarea>
                <label for="description">
                    <span class="red-text">*</span>
                    required
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="15-500 characters" aria-hidden="true"></i>
                </label>
            </div>

            <!-- dessert type -->
            <div class="input-field col s12">
                <i class="fas fa-ice-cream purple-text material-icons prefix" aria-hidden="true"></i>
                <select id="dessert_type" name="dessert_type" class="form-control validate" required>
                    <option value="" disabled selected>Dessert Category</option>
                    {% for dessert in desserts %}
                    <option value="{{ dessert }}">{{ dessert }}</option>
                    {% endfor %}
                </select>
                <label for="dessert_type">
                    <span class="red-text">*</span>
                    required
                </label>
            </div>

            <!-- total hours -->
            <div class="input-field col s6 m3">
                <i class="fas fa-hourglass-half purple-text material-icons prefix" aria-hidden="true"></i>
                <input id="total_hrs" name="total_hrs" type="number" min="0" max="99" placeholder="Hours" autocomplete="off">
                <label for="total_hrs">
                    optional
                    <i class="fas fa-question-circle hide-on-small-only tooltipped" data-position="right" data-tooltip="0 - 99" aria-hidden="true"></i>
                </label>
            </div>

            <!-- total minutes -->
            <div class="input-field col s6 m3">
                <i class="fas fa-stopwatch purple-text material-icons prefix" aria-hidden="true"></i>
                <input id="total_mins" name="total_mins" type="number" min="0" max="59"
                    placeholder="Minutes" autocomplete="off" class="form-control validate" required>
                <label for="total_mins">
                    <span class="red-text">*</span>
                    required
                    <i class="fas fa-question-circle hide-on-small-only tooltipped" data-position="right" data-tooltip="0 - 59" aria-hidden="true"></i>
                </label>
            </div>

            <!-- recipe allergens -->
            <div class="input-field col s12 m6">
                <i class="fas fa-exclamation-triangle purple-text material-icons prefix" aria-hidden="true"></i>
                <select id="allergens" name="allergens" multiple>
                    <option value="" disabled>Possible Allergens</option>
                    {% for allergen in allergens %}
                    <!-- entire <option> must be on single line, not 'beautified' across multiple lines (causes whitespace) -->
                    <option value="{{ allergen }}" data-icon="{{ url_for('static', filename='img/allergens/'+allergen|lower+'.png') }}">{{ allergen }}</option>
                    {% endfor %}
                </select>
                <label for="allergens">optional
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="select all that apply" aria-hidden="true"></i>
                </label>
            </div>

            <!-- recipe photo -->
            <div class="input-field col s12">
                <i class="fas fa-image purple-text material-icons prefix" aria-hidden="true"></i>
                <input id="img_src" name="img_src" class="validate" type="url" placeholder="Recipe Photo URL" pattern="https?://.+" autocomplete="off">
                <label for="img_src">optional
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="link to your recipe photo online" aria-hidden="true"></i>
                </label>
            </div>

        </div>


        <!-- Ingredients -->
        <div class="row card z-depth-2 recipe-card new-recipe">

            <h4 class="font-special bold upper text-shadow-2 center-align">Ingredients</h4>

            <!-- example ingredient rows -->
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header grey lighten-4">
                        <h6 class="grey-text upper bold">Examples</h6><i class="fas fa-mouse-pointer material-icons grey-text" aria-hidden="true"></i>
                    </div>
                    <div class="collapsible-body">
                        <div class="row grey-text example">
                            <div class="input-field col s12 m3 l2">
                                <i class="fas fa-hashtag material-icons prefix" aria-hidden="true"></i>
                                <input placeholder="1/2" disabled>
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="fas fa-utensil-spoon material-icons prefix" aria-hidden="true"></i>
                                <select disabled>
                                    <option disabled selected>cup (C)</option>
                                </select>
                            </div>
                            <div class="input-field col s12 m5 l6">
                                <i class="fas fa-egg material-icons prefix" aria-hidden="true"></i>
                                <input placeholder="packed brown sugar" disabled>
                            </div>
                        </div>

                        <div class="row grey-text example">
                            <div class="input-field col s12 m3 l2">
                                <i class="fas fa-hashtag material-icons prefix" aria-hidden="true"></i>
                                <input placeholder="3" disabled>
                            </div>
                            <div class="input-field col s12 m4">
                                <i class="fas fa-utensil-spoon material-icons prefix" aria-hidden="true"></i>
                                <select disabled>
                                    <option disabled selected>not applicable</option>
                                </select>
                            </div>
                            <div class="input-field col s12 m5 l6">
                                <i class="fas fa-egg material-icons prefix" aria-hidden="true"></i>
                                <input placeholder="large egg yolks" disabled>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="new-ingredient ingredient row">
                <!-- ingredient amount / quantity -->
                <div class="input-field col s12 m3 l2">
                    <i class="fas fa-hashtag purple-text material-icons prefix" aria-hidden="true"></i>
                    <input id="ingredient_amount" name="ingredient_amount" type="text" class="ingredient_amount validate"
                        autocomplete="off" placeholder="Amount" pattern="^[\d\/\-\. ]{1,7}$" required>
                    <label for="ingredient_amount">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

                <!-- ingredient measurement / volume-->
                <div class="input-field col s12 m4">
                    <i class="fas fa-utensil-spoon purple-text material-icons prefix" aria-hidden="true"></i>
                    <select id="ingredient_measurement" name="ingredient_measurement" class="validate" required>
                        <option value="" disabled selected>unit of measurement</option>
                        <optgroup label="not applicable">
                            {% for measurement in measurements %}
                            {% if loop.index == 1 %}
                            <option value="{{ measurement }}">{{ measurement }}</option>
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        <optgroup label="METRIC">
                            {% for measurement in measurements %}
                            {% if loop.index > 1 and loop.index < 6 %}
                            <option value="{{ measurement }}">{{ measurement }}</option>
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        <optgroup label="IMPERIAL">
                            {% for measurement in measurements %}
                            {% if loop.index > 5 %}
                            <option value="{{ measurement }}">{{ measurement }}</option>
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <label for="ingredient_measurement">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

                <!-- ingredient -->
                <div class="input-field col s12 m5 l6">
                    <i class="fas fa-egg purple-text material-icons prefix" aria-hidden="true"></i>
                    <input id="ingredient_name" name="ingredient_name" type="text" class="ingredient_name validate"
                        autocomplete="off" pattern="^.{3,100}$" placeholder="Ingredient" required>
                    <label for="ingredient_name">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

            </div>

            <!-- add another ingredient -->
            <button type="button" class="add-ingredient btn purple text-shadow-2">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>

            <!-- remove last ingredient -->
            <button type="button" class="remove-ingredient btn pink lighten-2 text-shadow-2">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>

        </div>


        <!-- Directions -->
        <div class="row card z-depth-2 recipe-card new-recipe">

            <h4 class="font-special bold upper text-shadow-2 center-align">Directions</h4>

            <!-- example directions row -->
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header grey lighten-4">
                        <h6 class="grey-text upper bold">Example</h6><i class="fas fa-mouse-pointer material-icons grey-text" aria-hidden="true"></i>
                    </div>
                    <div class="collapsible-body">
                        <div class="row grey-text example">
                            <div class="input-field col s12">
                                <i class="fas fa-list-ol material-icons prefix" aria-hidden="true"></i>
                                <textarea class="materialize-textarea truncate" placeholder="In a large bowl, cream together the butter, sugar, vanilla, and eggs using a wire whisk." disabled></textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="new-direction direction row">
                <!-- direction -->
                <div class="input-field col s12">
                    <i class="fas fa-list-ol purple-text material-icons prefix" aria-hidden="true"></i>
                    <textarea id="directions" name="directions" type="text" class="directions validate materialize-textarea"
                        autocomplete="off" pattern="^.{5,500}$" placeholder="list each direction one per line" required></textarea>
                    <label for="directions">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

            </div>

            <!-- add another direction -->
            <button type="button" class="add-direction btn purple text-shadow-2">
                <i class="fas fa-plus material-icons" aria-hidden="true"></i>
            </button>

            <!-- remove last direction -->
            <button type="button" class="remove-direction btn pink lighten-2 text-shadow-2">
                <i class="fas fa-minus material-icons" aria-hidden="true"></i>
            </button>

        </div>


        <div class="row center-align">
            <button type="submit" class="waves-effect waves-red btn btn-large green bold text-shadow-2">
                Add
                <i class="fas fa-plus-circle material-icons right hide-on-small-only" aria-hidden="true"></i>
            </button>

            <button type="reset" class="waves-effect waves-purple btn btn-large red bold text-shadow-2" onclick="history.go(-1)">
                Cancel
                <i class="fas fa-times-circle material-icons right hide-on-small-only" aria-hidden="true"></i>
            </button>
        </div>

    </div>

</form>

{% endblock %}