<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}{% endblock %}2BN-Desserts</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel='icon' sizes="192x192" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

</head>

<body>

    <header>
    <!-- NAVBAR -->
    {% include "partials/_navbar.html" %}
    </header>

    <main>
    <!-- MESSAGES -->
    {% include "partials/_messages.html" %}

    <!-- MAIN CONTENT -->
    {% block content %}
    {% endblock %}
    </main>

    <footer class="purple white-text">
    <!-- FOOTER -->
    {% include "partials/_footer.html" %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.0.slim.js"
        integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>