{% extends "base.html" %}
{% block title %}{{ recipe.recipe_name }} | {% endblock %}
{% block content %}

<div class="container-90" id="print-yes">

    <!-- THE RECIPE -->
    <div class="row card z-depth-2 recipe-card">
        <!-- Recipe Image -->
        <div class="col s12 l6 center-align card-image print-no">
            {% if recipe.img_src %}
            <img src="{{ recipe.img_src }}" class="responsive-img" alt="Dessert" lazyload="on">
            {% else %}
            <img src="{{ url_for('static', filename='img/desserts/'+recipe.dessert_type|replace(' + ', '-')|replace(' ', '-')|lower+'.png') }}" class="responsive-img" alt="Dessert" lazyload="on">
            {% endif %}

            <div class="card-content user-buttons">
                <!-- Print Button -->
                    <a class="waves-effect waves-purple btn bold upper pink lighten-2 text-shadow-2" id="print-btn">
                        <span class="hide-on-small-and-down">Print</span>
                        <i class="fas fa-print material-icons" aria-hidden="true"></i>
                    </a>

                <!-- Share Button -->
                    <a class="waves-effect waves-red btn bold upper modal-trigger purple text-shadow-2" id="share-btn"
                        href="#modal-share-recipe">
                        <span class="hide-on-small-and-down">Share</span>
                        <i class="fas fa-share-alt material-icons" aria-hidden="true"></i></a>
                    <!-- share modal -->
                    <div id="modal-share-recipe" class="modal">
                        <div class="modal-content">
                            <h4 class="purple-text bold upper">Share something Sweet</h4>
                            <input type="text" id="share-url">
                            <a id="copy-btn" class="modal-close waves-effect waves-red purple btn text-shadow-2 upper">
                                <i class="fas fa-copy material-icons right" aria-hidden="true"></i>Copy Link
                            </a>
                        </div>
                    </div>

                <!-- only visible for session-user or Admin -->
                {% if session.user|lower == author|lower or session.user|lower == "admin"|lower %}
                <!-- Update Button -->
                    <a class="waves-effect waves-yellow btn bold upper green text-shadow-2"
                        href="{{ url_for('recipes.desserts_edit', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">
                        <span class="hide-on-small-and-down">Edit</span>
                        <i class="fas fa-pencil-alt material-icons" aria-hidden="true"></i>
                    </a>
                
                <!-- Delete Button -->
                    <a class="waves-effect waves-purple btn bold upper modal-trigger red text-shadow-2"
                        href="#modal-delete-recipe">
                        <span class="hide-on-small-and-down">Delete</span>
                        <i class="far fa-trash-alt material-icons" aria-hidden="true"></i></a>
                    <!-- delete modal -->
                    <div id="modal-delete-recipe" class="modal">
                        <div class="modal-content">
                            <h4 class="red-text bold upper">Confirm Deletion</h4>
                            <h5 class="bold">Are you sure you want to delete this recipe?</h5>
                            <p class="grey-text bold">This action cannot be undone.</p>
                        </div>
                        <div class="modal-footer center-align">
                            <a class="waves-effect waves-purple red btn text-shadow-2 upper"
                                href="{{ url_for('recipes.desserts_delete', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">
                                <i class="far fa-trash-alt material-icons right" aria-hidden="true"></i>Yes
                            </a>
                            <a class="modal-close waves-effect waves-yellow green btn text-shadow-2 upper">
                                <i class="fas fa-reply material-icons right" aria-hidden="true"></i>No
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

        <!-- Recipe Details -->
        <div class="col s12 l6 center-align">
            <h4><span class="font-emilys-candy bold text-shadow-2">{{ recipe.recipe_name }}</span></h4>
            <div class="divider pink lighten-2 print-no"></div>
            <div class="divider red print-no"></div>
            <div class="divider orange print-no"></div>
            <div class="divider yellow print-no"></div>
            <div class="divider green print-no"></div>
            <div class="divider blue print-no"></div>
            <div class="divider purple print-no"></div>
            <div class="divider pink print-no"></div>
            <p class="print-no">
                <img src="{{ url_for('static', filename='img/avatars/'+user_avatar+'.png') }}" alt="{{ author }} Avatar" id="avatar-small" class="center-align" lazyload="on">
                <br>
                by: <span class="purple-text bold">{{ author }}</span>
            </p>
            <q class="print-no">{{ recipe.description }}</q>
            <p class="print-no">
                <i class="fas fa-clock" aria-hidden="true"></i>
                Total Time:
                <span class="purple-text bold">
                    {% if recipe.total_hrs %}
                    {{ recipe.total_hrs }}h
                    {% endif %}

                    {% if recipe.total_mins %}
                    {{ recipe.total_mins }}m
                    {% endif %}
                </span>
            </p>
            <p class="print-no">
                <i class="fas fa-calendar-plus" aria-hidden="true"></i> Added:
                <span class="purple-text bold">{{ recipe.date_added }}</span>
                {% if recipe.date_added != recipe.date_updated %}
                <br>
                <i class="fas fa-calendar-check" aria-hidden="true"></i> Updated:
                <span class="purple-text bold">{{ recipe.date_updated }}</span>
            </p>
            {% endif %}
            <p class="print-no">
                {% for allergen in recipe.allergens %}
                <div class="chip pink lighten-4 black-text print-no">
                    <img src="{{ url_for('static', filename='img/allergens/'+allergen|lower+'.png') }}" alt="Allergen" lazyload="on">{{ allergen }}</div>
                {% endfor %}
            </p>
            {% if session.user %}
            <p class="print-no">
                {% if recipe._id in user_favs %}
                <a class="btn btn-large red lighten-5 purple-text bold upper waves-effect waves-purple tooltipped" id="love-it-yes"
                    href="{{ url_for('recipes.desserts_delete_favorite', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}"
                    data-position="bottom" data-tooltip="Remove from Favorites?">
                    You love it!
                    <i class="fas fa-heart material-icons pink-text text-lighten-2 text-shadow-1" aria-hidden="true"></i>
                </a>
                {% else %}
                <a class="btn btn-large red lighten-5 purple-text bold upper waves-effect waves-purple tooltipped" id="love-it-no"
                    href="{{ url_for('recipes.desserts_add_favorite', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}"
                    data-position="bottom" data-tooltip="Save to Favorites?">
                    Love it?
                    <i class="far fa-heart material-icons pink-text text-lighten-2 text-shadow-1" aria-hidden="true"></i>
                </a>
                {% endif %}
            </p>
            {% endif %}
        </div>
    </div>


    <!-- advise user to mark complete as they go! -->
    <div class="row card z-depth-2 pink lighten-5 center-align recipe-card print-no">
        <div class="col s12 center-align">
            <h5>
                <span class="pink-text text-lighten-2 upper bold font-abril text-shadow-1">Did You Know?</span>
            </h5>
            <h6>
                You can
                <span class="purple-text bold">tap</span> or
                <span class="purple-text bold">click</span>
                <span class="font-special bold">ingredients</span> and
                <span class="font-special bold">directions</span> below as
                <i class="fas fa-check-circle material-icons green-text"></i>
                <span class="grey-text strike">complete</span> while you prepare this recipe!
            </h6>
        </div>
    </div>


    <!-- INGREDIENTS | DIRECTIONS-->
    <div class="row card z-depth-2 recipe-card">
        <!-- Ingredients -->
        <div class="col s12 m5 ing-dir">
            <h5 class="font-special bold upper text-shadow-2 center-align">Ingredients</h5>
            <ul id="ingredients">
                {% for amount,measurement,ingredient in full_ingredient %}
                {% set unit_loop = loop %}
                <li class="ingredient-item"><i class="fas fa-circle purple-text print-no" aria-hidden="true"></i>
                    <span class="ingredient">
                        {{ amount }}

                        {% if measurement == "not applicable" %}
                        {% else %}
                        <span class="bold tooltipped" data-position="right" data-tooltip="{{ units[unit_loop.index-1] }}">{{ measurement }}</span> of
                        {% endif %}

                        <span class="purple-text">{{ ingredient }}</span>
                    </span>
                </li>
                {% endfor %}
            </ul>
            <div class="divider pink lighten-2 hide-on-med-and-up print-no"></div>
            <div class="divider red hide-on-med-and-up print-no"></div>
            <div class="divider orange hide-on-med-and-up print-no"></div>
            <div class="divider yellow hide-on-med-and-up print-no"></div>
            <div class="divider green hide-on-med-and-up print-no"></div>
            <div class="divider blue hide-on-med-and-up print-no"></div>
            <div class="divider purple hide-on-med-and-up print-no"></div>
            <div class="divider pink hide-on-med-and-up print-no"></div>
        </div>

        <!-- Directions -->
        <div class="col s12 m7 ing-dir">
            <h5 class="font-special bold upper text-shadow-2 center-align">Directions</h5>
            <ol id="directions">
                {% for direction in recipe.directions %}
                <li class="direction-item">
                    <span class="direction">{{ direction }}</span>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>

</div>

<div class="container print-no">
    <div class="divider pink lighten-2"></div>
    <div class="divider red"></div>
    <div class="divider orange"></div>
    <div class="divider yellow"></div>
    <div class="divider green"></div>
    <div class="divider blue"></div>
    <div class="divider purple"></div>
    <div class="divider pink"></div>
    <br>
</div>

<div class="container-75 print-no">
    <!-- RECOMMENDATIONS -->
    <div class="row">
        <div class="col s12 card center-align">
            <h4 class="mark-pink upper font-merienda text-shadow-1">Recommended</h4>

                <!-- previous dessert -->
                {% for recipe in previous_recipe %}
                <div class="col s12 m6 l5 offset-l1">
                    <div class="card z-depth-2 hoverable recommendations">
                        <div class="card-image waves-effect waves-block waves-red center-align">
                            <a href="{{ url_for('recipes.desserts_recipe', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">
                            <h5 class="card-title text-shadow-1 upper font-cabin-sketch pink-text" title="{{ recipe.recipe_name }}">
                                {{ recipe.recipe_name }}
                            </h5>
                            {% if recipe.img_src %}
                            <img src="{{ recipe.img_src }}" alt="Dessert" lazyload="on">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/desserts/'+recipe.dessert_type|replace(' + ', '-')|replace(' ', '-')|lower+'.png') }}" alt="Dessert" lazyload="on">
                            {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- next dessert -->
                {% for recipe in next_recipe %}
                <div class="col s12 m6 l5">
                    <div class="card z-depth-2 hoverable recommendations">
                        <div class="card-image waves-effect waves-block waves-red center-align">
                            <a href="{{ url_for('recipes.desserts_recipe', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">
                            <h6 class="card-title text-shadow-1 upper font-cabin-sketch pink-text" title="{{ recipe.recipe_name }}">
                                {{ recipe.recipe_name }}
                            </h6>
                            {% if recipe.img_src %}
                            <img src="{{ recipe.img_src }}" alt="Dessert" lazyload="on">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/desserts/'+recipe.dessert_type|replace(' + ', '-')|replace(' ', '-')|lower+'.png') }}" alt="Dessert" lazyload="on">
                            {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>
</div>

<!-- Conversion Widget -->
{% include "partials/_conversions.html" %}

{% endblock %}
