{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<span id="flashToast" class="white-text grey darken-4 center-align bold">{{ message }}</span>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container white z-depth-2 login-register">

    <ul class="tabs tabs-fixed-width purple">
        <li class="tab col s3 bold text-shadow-2 upper purple"><a class="white-text" href="#login">Log In</a></li>
        <li class="tab col s3 bold text-shadow-2 upper pink lighten-2"><a class="white-text" href="#register">Register</a></li>
    </ul>

    <div id="login" class="col s12">
        <form class="col s12" method="POST" action="{{ url_for('login', _anchor='login') }}">
            <div class="login-form-container">
                <h3 class="purple-text center-align bold">Existing Users</h3>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user purple-text prefix"></i>
                        <input id="username" name="username" type="text" class="form-control validate" autocomplete="off" value="{{ request.form['username'] }}" required>
                        <label for="username">Username <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="3-15 alphanumeric"></i></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-lock purple-text prefix"></i>
                        <input id="password" name="password" type="password" class="form-control validate" autocomplete="off" required>
                        <label for="password">Password <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="5-15 characters"></i></label>
                    </div>
                </div>

                <div class="row">
                    <button class="col s12 btn btn-large waves-effect waves-red purple bold upper text-shadow-2" type="submit">
                        <i class="fas fa-sign-in-alt material-icons right"></i> Log In</button>
                </div>
            </div>
        </form>
    </div>



    <div id="register" class="col s12">
        <form class="col s12" method="POST" action="{{ url_for('register', _anchor='register') }}">
            <div class="register-form-container">
                <h3 class="pink-text text-lighten-2 center-align bold">Create Account</h3>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus pink-text text-lighten-2 prefix"></i>
                        <input id="username" name="username" type="text" class="form-control validate" autocomplete="off" value="{{ request.form['username'] }}" required>
                        <label for="username">Username <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="3-15 alphanumeric"></i></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key pink-text text-lighten-2 prefix"></i>
                        <input id="password" name="password" type="password" class="form-control validate" autocomplete="off" required>
                        <label for="password">Password <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="5-15 characters"></i></label>
                    </div>
                </div>

                <div class="row">
                    <button class="col s12 btn btn-large waves-effect waves-purple pink lighten-2 bold upper text-shadow-2" type="submit">
                        <i class="fas fa-user-plus material-icons right"></i> Register</button>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock content %}