{% extends "base.html" %}
{% block title %}{{ username }}'s Profile | {% endblock %}
{% block content %}

<div class="container-95">
    <div class="row">
        <!-- Profile Details -->
        <div class="col s12 l8 offset-l2 recipe-card card white profile-card center-align">
            <h2 class="purple-text purple lighten-5 font-fredericka">{{ username }}</h2>
            <h5 class="pink-text font-rye">the "{{ user_avatar|title }}"</h5>
            <img src="{{ url_for('static', filename='img/avatars/'+user_avatar+'.png') }}" alt="User Avatar"
                lazyload="on" id="user-avatar" class="tooltipped" data-position="top"
                data-tooltip="Hi {{ username }}! I'm your dessert avatar, '{{ user_avatar|title }}'!<br>I will be displayed on any recipe you submit!">
            <p>
                <!-- User's Own Recipes (modal trigger) -->
                <a class="waves-effect waves-light btn btn-large bold blue text-shadow-2 modal-trigger"
                    href="#modal-user-recipes">
                    <i class="fas fa-user-plus material-icons left" aria-hidden="true"></i>
                    My Recipes
                </a>
                <!-- User's Own Recipes (modal trigger) -->
                <a class="waves-effect waves-light btn btn-large bold pink lighten-2 text-shadow-2 modal-trigger"
                    href="#modal-user-favorites">
                    <i class="fas fa-heart material-icons left" aria-hidden="true"></i>
                    My Favorites
                </a>
                <br>
                <!-- Change Password (modal trigger) -->
                <a class="waves-effect waves-light btn btn-large bold green text-shadow-2 modal-trigger"
                    href="#modal-change-password">
                    <i class="fas fa-user-lock material-icons left" aria-hidden="true"></i>
                    Change Password
                </a>
                <!-- Delete Account (modal trigger) -->
                <!-- not shown if 'admin' -->
                {% if session.user|lower != "admin"|lower %}
                <a class="waves-effect waves-light btn btn-large bold red text-shadow-2 modal-trigger"
                    href="#modal-delete-account">
                    <i class="fas fa-user-alt-slash material-icons left" aria-hidden="true"></i>
                    Delete Account
                </a>
                {% endif %}
                <!-- Admin: view all users (modal trigger) -->
                {% if session.user|lower == "admin"|lower %}
                <a class="waves-effect waves-light btn btn-large bold black text-shadow-2 modal-trigger"
                    href="#modal-admin">
                    <i class="fas fa-users material-icons left" aria-hidden="true"></i>
                    All Users
                </a>
                {% endif %}
            </p>
        </div>

        <!-- Visitor's Map and details for Admin -->
        {% if session.user|lower == "admin"|lower %}
            <div class="row">
                <div class="col s12 recipe-card card white center-align">
                    {% include "partials/_map.html" %}
                    <h3 class="purple-text text-shadow-2 font-special">
                        Unique Visitors: {{ visitor_list|count }}
                    </h3>
                    <div class="divider pink lighten-2"></div>
                    <div class="divider red"></div>
                    <div class="divider orange"></div>
                    <div class="divider yellow"></div>
                    <div class="divider green"></div>
                    <div class="divider blue"></div>
                    <div class="divider purple"></div>
                    <div class="divider pink"></div>
                    <br>
                    <!-- create chip for each unique country -->
                    {% for country in visitor_list|groupby("country") %}
                    <div class="chip chip-flag text-shadow-2">
                        {% for flag in country.list|groupby("iso2") %}
                            <img src="https://www.countryflags.io/{{ flag.grouper }}/shiny/64.png" alt="{{ flag.grouper }}">
                        {% endfor %}
                        {{ country.grouper }}
                        ( <span class="bold">{{ country.list|count }}</span> )
                    </div>
                    {% endfor %}
                    <br><br>
                    <div class="divider pink lighten-2"></div>
                    <div class="divider red"></div>
                    <div class="divider orange"></div>
                    <div class="divider yellow"></div>
                    <div class="divider green"></div>
                    <div class="divider blue"></div>
                    <div class="divider purple"></div>
                    <div class="divider pink"></div>
                    <br>
                </div>
            </div>
        {% endif %}

    </div>
</div>


<!-- user recipes modal -->
<div id="modal-user-recipes" class="modal bottom-sheet blue lighten-5">
    <div class="modal-content">
        <h4 class="bold blue-text text-shadow-1 font-rye center-align">{{ username }}'s Recipes</h4>
        <ul class="collection">
            {% for user_recipe in user_recipes %}
            <li class="collection-item avatar">
                <a href="{{ url_for('recipes.desserts_recipe', recipe_id=user_recipe._id, slugUrl=user_recipe.recipe_slug) }}">
                    {% if user_recipe.img_src %}
                    <img src="{{ user_recipe.img_src }}" alt="Dessert" class="circle" lazyload="on">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/desserts/'+user_recipe.dessert_type|replace(' + ', '-')|replace(' ', '-')|lower+'.png') }}"
                        class="circle" alt="Dessert" lazyload="on">
                    {% endif %}
                    <span class="title font-special bold purple-text">{{ user_recipe.recipe_name }}</span>
                    <p class="truncate pink-text text-lighten-2">{{ user_recipe.description }}</p>
                    <i class="fas fa-link material-icons blue-text text-shadow-1 secondary-content tooltipped"
                        data-position="left" data-tooltip="View Dessert" aria-hidden="true"></i>
                </a>
            </li>
            {% else %}
            <li class="collection-item avatar">
                <span class="title font-special bold purple-text">
                    Good things come to those who share recipes.
                </span>
                <p class="pink-text text-lighten-2 bold">
                    You haven't shared anything yet. Click the icon on the right to add your first recipe.
                </p>
                <a href="{{ url_for('recipes.desserts_new') }}" title="New Dessert">
                    <i class="fas fa-plus-circle material-icons blue-text text-shadow-1 secondary-content tooltipped"
                        data-position="left" data-tooltip="New Dessert" aria-hidden="true"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>



<!-- user favorites modal -->
<div id="modal-user-favorites" class="modal bottom-sheet pink lighten-5">
    <div class="modal-content">
        <h4 class="bold pink-text text-lighten-2 text-shadow-1 font-rye center-align">
            {{ username }}'s Favorites
        </h4>
        <ul class="collection">
            {% for user_fav in user_favs %}
            <li class="collection-item avatar">
                <a href="{{ url_for('recipes.desserts_recipe', recipe_id=user_fav._id, slugUrl=user_fav.recipe_slug) }}">
                    {% if user_fav.img_src %}
                    <img src="{{ user_fav.img_src }}" alt="Dessert" class="circle" lazyload="on">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/desserts/'+user_fav.dessert_type|replace(' + ', '-')|replace(' ', '-')|lower+'.png') }}"
                        class="circle" alt="Dessert" lazyload="on">
                    {% endif %}
                    <span class="title font-special bold purple-text">{{ user_fav.recipe_name }}</span>
                </a>
                <p class="truncate pink-text text-lighten-2">{{ user_fav.description }}</p>
                <a href="{{ url_for('recipes.desserts_delete_favorite', recipe_id=user_fav._id, slugUrl=user_fav.recipe_slug) }}">
                    <i class="fas fa-minus-circle material-icons red-text text-shadow-1 secondary-content tooltipped"
                        data-position="left" data-tooltip="Remove from Favorites" aria-hidden="true"></i>
                </a>
            </li>
            {% else %}
            <li class="collection-item avatar">
                <span class="title font-special bold purple-text">
                    Happiness rarely keeps company with an empty stomach.
                </span>
                <p class="pink-text text-lighten-2 bold">
                    Click the magnifying glass on the right to find something delicious!
                </p>
                <a href="{{ url_for('recipes.desserts') }}" title="View all Desserts">
                    <i class="fas fa-search-plus material-icons red-text text-shadow-1 secondary-content tooltipped"
                        data-position="left" data-tooltip="Search Desserts" aria-hidden="true"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>



<!-- change password modal -->
<div id="modal-change-password" class="modal bottom-sheet green lighten-5">
    <div class="modal-content collection white card">
        <h4 class="bold green-text text-shadow-1 font-rye center-align">Change Password</h4>
        <form method="POST" action="{{ url_for('users.profile_change_password', username=username|lower) }}">
            <div class="row">
                <!-- current password -->
                <div class="input-field col s12 m8 offset-m2 l6">
                    <i class="fas fa-lock green-text prefix" aria-hidden="true"></i>
                    <input id="current_password" name="current_password" type="password" class="form-control validate"
                        autocomplete="off" minlength="5" maxlength="15" required>
                    <label for="current_password">Current Password
                        <i class="fas fa-question-circle tooltipped" data-position="right"
                            data-tooltip="5-15 characters" aria-hidden="true"></i>
                    </label>
                </div>
                <!-- new password -->
                <div class="input-field col s12 m8 offset-m2 l6">
                    <i class="fas fa-key green-text prefix" aria-hidden="true"></i>
                    <input id="new_password" name="new_password" type="password" class="form-control validate"
                        autocomplete="off" minlength="5" maxlength="15" required>
                    <label for="new_password">New Password
                        <i class="fas fa-question-circle tooltipped" data-position="right"
                            data-tooltip="5-15 characters" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <!-- change password button -->
            <div class="row">
                <button type="submit"
                    class="col s12 m8 offset-m2 l4 offset-l4 btn btn-large waves-effect waves-yellow green bold upper text-shadow-2">
                    Change
                    <i class="fas fa-user-lock material-icons" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- delete account modal -->
<div id="modal-delete-account" class="modal bottom-sheet red lighten-5">
    <div class="modal-content collection white card center-align">
        <h4 class="bold red-text text-shadow-1 font-rye">Delete Account</h4>
        <h6 class="bold red-text">By deleting your account, all of your recipes will also be deleted permanently!</h6>
        <form method="POST" action="{{ url_for('users.profile_delete_account', username=username|lower) }}">
            <div class="row">
                <!-- verify password -->
                <div class="input-field col s12 m10 offset-m1 l6 offset-l3">
                    <i class="fas fa-lock red-text prefix" aria-hidden="true"></i>
                    <input id="verify_password" name="verify_password" type="password" class="form-control validate"
                        autocomplete="off" autofocus minlength="5" maxlength="15" required>
                    <label for="verify_password">Verify Password
                        <i class="fas fa-question-circle tooltipped" data-position="right"
                            data-tooltip="5-15 characters" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <!-- delete account button -->
            <div class="row">
                <button type="submit"
                    class="col s12 m8 offset-m2 l4 offset-l4 btn btn-large waves-effect waves-purple red bold upper text-shadow-2">
                    Delete
                    <i class="fas fa-user-alt-slash material-icons" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- admin modal -->
{% if session.user|lower == "admin"|lower %}
<div id="modal-admin" class="modal bottom-sheet grey lighten-2">
    <div class="modal-content">
        <h4 class="bold black-text text-shadow-1 font-rye center-align">All Users</h4>
        <ul class="collection">
            {% for admin_list, date_joined in zip_data %}
            <!-- exclude the admin account! -->
            {% if admin_list.username_lower != "admin"|lower %}
            <li class="collection-item avatar">
                <span class="title font-special bold black-text">
                    <span class="purple-text">{{ admin_list.username }}</span>
                    <h6>
                        recipes: <span class="red-text bold">{{ admin_list.user_recipes|length }}</span> |
                        favorites: <span class="red-text bold">{{ admin_list.user_favs|length }}</span> |
                        joined: <span class="red-text bold">{{ date_joined }}</span>
                    </h6>
                </span>
                <!-- delete specific user and their recipes -->
                {% set user_modal = "#modal-admin-delete-user " + admin_list.username %}
                <!-- setting the modal id to be: #modal-name + loop-index-variable -->
                <a href="{{ user_modal }}" class="modal-trigger">
                    <i class="fas fa-user-times material-icons black-text text-shadow-1 secondary-content tooltipped"
                        data-position="left" data-tooltip="Delete User Account" aria-hidden="true"></i>
                </a>
                <!-- nested modal within bottom-sheet modal -->
                <!-- |replace # from user_modal with nothing, so proper modal-id is called -->
                <div id="{{ user_modal|replace('#', '') }}" class="modal">
                    {% set extracted_user = user_modal|replace('#modal-admin-delete-user ', '') %}
                    <div class="modal-content">
                        <h4 class="red-text bold upper">Confirm Deletion of<br>
                            <span class="purple-text font-special bold">{{ extracted_user }}</span>
                        </h4>
                        <h5 class="bold">Are you sure you want to delete this user?</h5>
                        <p class="grey-text bold">This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer center-align">
                        <a class="waves-effect waves-purple red btn text-shadow-2 upper"
                            href="{{ url_for('users.admin_delete_user', username=extracted_user) }}">
                            <i class="far fa-trash-alt material-icons right" aria-hidden="true"></i>Yes
                        </a>
                        <a class="modal-close waves-effect waves-yellow green btn text-shadow-2 upper">
                            <i class="fas fa-reply material-icons right" aria-hidden="true"></i>No
                        </a>
                    </div>
                </div>
                <!-- end of nested modal -->
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock content %}
