{% extends "base.html" %}

{% block content %}

<div id="register" class="container">
    <h2 class="left-align">Register</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <label for="username">USERNAME <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="3-15 alphanumeric"></i></label>
        <input id="username" name="username" type="text" class="form-control validate" autocomplete="off" required>

        <label for="password">PASSWORD <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="5-15 characters"></i></label>
        <input id="password" name="password" type="password" class="form-control validate" autocomplete="off" required>

        <h5 class="red-text">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </h5>
        
        <br>
        <button class="btn btn-large purple" type="submit">Register</button>

    </form>
</div>
{% endblock content %}