{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('update_dessert_toDB', recipe_id=recipe._id) }}" method="POST">

    <div class="container-75">

        <!-- RECIPE DETAILS -->
        <div class="row card z-depth-2 recipe-card new-recipe">

            <h4 class="font-special bold upper text-shadow-2 center-align">Update Recipe</h4>

            <!-- recipe name -->
            <div class="input-field col s12">
                <i class="far fa-file-alt purple-text material-icons prefix"></i>
                <input id="recipe_name" name="recipe_name" type="text" class="form-control validate" autocomplete="off"
                    value="{{ recipe.recipe_name }}" pattern="^[\w '.-]{5,50}$" placeholder="Recipe Name" required>
                <label for="recipe_name">
                    <span class="red-text">*</span>
                    required
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="5-50 characters"></i>
                </label>
            </div>

            <!-- recipe description -->
            <div class="input-field col s12">
                <i class="fas fa-align-left purple-text material-icons prefix"></i>
                <textarea id="description" name="description" type="text" class="form-control validate materialize-textarea"
                    autocomplete="off" pattern="^.{15,500}$" placeholder="Description of your Recipe" required>{{ recipe.description }}</textarea>
                <label for="description">
                    <span class="red-text">*</span>
                    required
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="15-500 characters"></i>
                </label>
            </div>

            <!-- dessert type -->
            <div class="input-field col s12">
                <i class="fas fa-ice-cream purple-text material-icons prefix"></i>
                <select id="dessert_type" name="dessert_type" class="form-control validate" required>
                    <option value="" disabled selected>Dessert Category</option>
                    {% for dessert in desserts %}
                    {% if dessert == recipe.dessert_type %}
                    <option value="{{ dessert }}" selected>{{ dessert }}</option>
                    {% else %}
                    <option value="{{ dessert }}">{{ dessert }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="dessert_type">
                    <span class="red-text">*</span>
                    required
                </label>
            </div>

            <!-- total hours -->
            <div class="input-field col s6 m3">
                <i class="fas fa-hourglass-half purple-text material-icons prefix"></i>
                <input id="total_hrs" name="total_hrs" type="number" min="0" max="99"
                    value="{{ recipe.total_hrs }}" placeholder="Hours" autocomplete="off">
                <label for="total_hrs">
                    optional
                    <i class="fas fa-question-circle hide-on-small-only tooltipped" data-position="right" data-tooltip="0 - 99"></i>
                </label>
            </div>

            <!-- total minutes -->
            <div class="input-field col s6 m3">
                <i class="fas fa-stopwatch purple-text material-icons prefix"></i>
                <input id="total_mins" name="total_mins" type="number" min="0" max="59" value="{{ recipe.total_mins }}"
                    placeholder="Minutes" autocomplete="off" class="form-control validate" required>
                <label for="total_mins">
                    <span class="red-text">*</span>
                    required
                    <i class="fas fa-question-circle hide-on-small-only tooltipped" data-position="right" data-tooltip="0 - 59"></i>
                </label>
            </div>

            <!-- recipe allergens -->
            <div class="input-field col s12 m6">
                <i class="fas fa-exclamation-triangle purple-text material-icons prefix"></i>
                <select id="allergens" name="allergens" multiple>
                    <option value="" disabled>Possible Allergens</option>
                    {% for allergen in allergens %}
                    {% if allergen in recipe.allergens %}
                    <!-- entire <option> must be on single line, not 'beautified' across multiple lines (causes whitespace) -->
                    <option value="{{ allergen }}" data-icon="{{ url_for('static', filename='img/allergens/'+allergen|lower+'.png') }}" selected>{{ allergen }}</option>
                    {% else %}
                    <!-- entire <option> must be on single line, not 'beautified' across multiple lines (causes whitespace) -->
                    <option value="{{ allergen }}" data-icon="{{ url_for('static', filename='img/allergens/'+allergen|lower+'.png') }}">{{ allergen }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="allergens">optional
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="select all that apply"></i>
                </label>
            </div>

            <!-- recipe photo -->
            <div class="input-field col s12">
                <i class="fas fa-image purple-text material-icons prefix"></i>
                {% if recipe.img_src %}
                <input id="img_src" name="img_src" class="validate" type="url" value="{{ recipe.img_src }}"
                    placeholder="Recipe Photo URL" pattern="https?://.+" autocomplete="off">
                {% else %}
                <input id="img_src" name="img_src" class="validate" type="url"
                    placeholder="Recipe Photo URL" pattern="https?://.+" autocomplete="off">
                {% endif %}
                <label for="img_src">optional
                    <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="link to your recipe photo online"></i>
                </label>
            </div>

            <div class="col s12">
                {% if recipe.img_src %}
                <div id="recipe-img-small" style="background: url('{{ recipe.img_src }}') center/cover no-repeat;" alt="Dessert"></div>
                {% else %}
                <div id="recipe-img-small" style="background: url('/static/img/no-img.png') center/cover no-repeat;" alt="No Images Available"></div>
                {% endif %}
            </div>

        </div>


        <!-- Ingredients -->
        <div class="row card z-depth-2 recipe-card new-recipe">

            <h4 class="font-special bold upper text-shadow-2 center-align">Ingredients</h4>

            {% for amount_list,unit_list,ingredient_list in ingredients %}
            {% if amount_list.0 or unit_list.0 or ingredient_list.0 %}
            <div class="new-ingredient ingredient row">
                <!-- ingredient amount / quantity -->
                <div class="input-field col s12 m3 l2">
                    <i class="fas fa-hashtag purple-text material-icons prefix"></i>
                    <input id="ingredient_amount" name="ingredient_amount" type="text" class="ingredient_amount validate"
                        autocomplete="off" placeholder="Amount" pattern="^[\d\/\-\. ]{1,7}$" value="{{ amount_list }}" required>
                    <label for="ingredient_amount">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

                <!-- ingredient measurement / volume-->
                <div class="input-field col s12 m4">
                    <i class="fas fa-utensil-spoon purple-text material-icons prefix"></i>
                    <select id="ingredient_measurement" name="ingredient_measurement" class="validate" required>
                        <option value="" disabled selected>unit of measurement</option>
                        <optgroup label="not applicable">
                            {% for measurement in measurements %}
                            {% if loop.index == 1 %}
                            {% if measurement == unit_list %}
                            <option value="{{ measurement }}" selected>{{ unit_list }}</option>
                            {% else %}
                            <option value="{{ measurement }}">{{ measurement }}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        <optgroup label="METRIC">
                            {% for measurement in measurements %}
                            {% if loop.index > 1 and loop.index < 6 %}
                            {% if measurement == unit_list %}
                            <option value="{{ measurement }}" selected>{{ unit_list }}</option>
                            {% else %}
                            <option value="{{ measurement }}">{{ measurement }}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        <optgroup label="IMPERIAL">
                            {% for measurement in measurements %}
                            {% if loop.index > 5 %}
                            {% if measurement == unit_list %}
                            <option value="{{ measurement }}" selected>{{ unit_list }}</option>
                            {% else %}
                            <option value="{{ measurement }}">{{ measurement }}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <label for="ingredient_measurement">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

                <!-- ingredient -->
                <div class="input-field col s12 m5 l6">
                    <i class="fas fa-egg purple-text material-icons prefix"></i>
                    <input id="ingredient_name" name="ingredient_name" type="text" class="ingredient_name validate"
                        autocomplete="off" pattern="^.{3,100}$" value="{{ ingredient_list }}" placeholder="Ingredient" required>
                    <label for="ingredient_name">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

            </div>

            {% else %}

            <div class="new-ingredient ingredient row">
                <!-- ingredient amount / quantity -->
                <div class="input-field col s12 m3 l2">
                    <i class="fas fa-hashtag purple-text material-icons prefix"></i>
                    <input id="ingredient_amount" name="ingredient_amount" type="text" class="ingredient_amount validate"
                        autocomplete="off" placeholder="Amount" pattern="^[\d\/\-\. ]{1,7}$" value="{{ amount_list }}" required>
                    <label for="ingredient_amount">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

                <!-- ingredient measurement / volume-->
                <div class="input-field col s12 m4">
                    <i class="fas fa-utensil-spoon purple-text material-icons prefix"></i>
                    <label for="ingredient_measurement"></label>
                    <select id="ingredient_measurement" name="ingredient_measurement" class="validate" required>
                        <option value="" disabled selected>unit of measurement</option>
                        {% for measurement in measurements %}
                        {% if measurement == unit_list %}
                        <option value="{{ measurement }}" selected>{{ unit_list }}</option>
                        {% else %}
                        <option value="{{ measurement }}">{{ measurement }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="ingredient_measurement">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

                <!-- ingredient -->
                <div class="input-field col s12 m5 l6">
                    <i class="fas fa-egg purple-text material-icons prefix"></i>
                    <input id="ingredient_name" name="ingredient_name" type="text" class="ingredient_name validate"
                        autocomplete="off" pattern="^.{3,100}$" value="{{ ingredient_list }}" placeholder="Ingredient" required>
                    <label for="ingredient_name">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

            </div>

            {% endif %}
            {% endfor %}

            <!-- add another ingredient -->
            <button type="button" class="add-ingredient btn purple text-shadow-2">
                <i class="fas fa-plus material-icons"></i>
            </button>

            <!-- remove last ingredient -->
            <button type="button" class="remove-ingredient btn pink lighten-2 text-shadow-2">
                <i class="fas fa-minus material-icons"></i>
            </button>

        </div>


        <!-- Directions -->
        <div class="row card z-depth-2 recipe-card new-recipe">

            <h4 class="font-special bold upper text-shadow-2 center-align">Directions</h4>

            {% for direction in recipe.directions %}
            {% if direction.0 %}
            <div class="new-direction direction row">
                <!-- direction -->
                <div class="input-field col s12">
                    <i class="fas fa-list-ol purple-text material-icons prefix"></i>
                    <textarea id="directions" name="directions" type="text" class="directions validate materialize-textarea" autocomplete="off"
                        pattern="^.{5,500}$" placeholder="list each direction one per line" required>{{ direction }}</textarea>
                    <label for="directions">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

            </div>

            {% else %}

            <div class="new-direction direction row">
                <!-- direction -->
                <div class="input-field col s12">
                    <i class="fas fa-list-ol purple-text material-icons prefix"></i>
                    <input id="directions" name="directions" type="text" class="directions validate" autocomplete="off"
                        pattern="^.{5,500}$" placeholder="list each direction one per line" required>
                    <label for="directions">
                        <span class="red-text">*</span>
                        required
                    </label>
                </div>

            </div>

            {% endif %}
            {% endfor %}

            <!-- add another direction -->
            <button type="button" class="add-direction btn purple text-shadow-2">
                <i class="fas fa-plus material-icons"></i>
            </button>

            <!-- remove last direction -->
            <button type="button" class="remove-direction btn pink lighten-2 text-shadow-2">
                <i class="fas fa-minus material-icons"></i>
            </button>

        </div>


        <div class="row center-align">
            <button type="submit" class="waves-effect waves-red btn btn-large green bold text-shadow-2">
                Update
                <i class="fas fa-check-circle material-icons right hide-on-small-only"></i>
            </button>

            <button type="reset" class="waves-effect waves-purple btn btn-large red bold text-shadow-2" onclick="history.go(-1)">
                Cancel
                <i class="fas fa-times-circle material-icons right hide-on-small-only"></i>
            </button>
        </div>

    </div>

</form>

{% endblock %}