{% extends "base.html" %}

{% block content %}

<h4 class="center">TOTAL RECIPES: {{ total_recipes() }}</h4>

<div class="row">

    <!-- for each recipe, create Materialize Card -->
    {% for recipe in recipes %}
    <div class="col s12 m6 l3">
        <div class="card sticky-action hoverable">

            <!-- Card Image -->
            <div class="card-image waves-effect waves-block waves-light">
                {% if recipe.img_src %}
                <img src="{{ recipe.img_src }}" alt="Dessert" class="activator">
                {% else %}
                <img src="{{ url_for('static', filename='img/no-img.png') }}" alt="Dessert" class="activator">
                {% endif %}
                <span class="card-title grey-text center text-darken-4">
                    <a href="{{ url_for('view_dessert', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}" class="purple-text">{{ recipe.recipe_name }}</a>
                </span>
            </div>

            <!-- Card Content (category) -->
            <div class="card-content purple lighten-4">
                <span class="card-title center">{{ recipe.dessert_type }}</span>
            </div>

            <!-- Card Action (stats) -->
            <div class="card-action purple lighten-3">
                <span class="tooltipped" data-position="top" data-tooltip="Total Time: {% if recipe.total_hrs %}{{ recipe.total_hrs }}h{% endif %} {{ recipe.total_mins }}m">
                    <i class="far fa-clock material-icons"></i>
                    {% if recipe.total_hrs %}{{ recipe.total_hrs }}h{% endif %} {{ recipe.total_mins }}m
                </span>
                <span class="tooltipped" data-position="top" data-tooltip="Total Views: {{ recipe.views }}">
                    <i class="far fa-eye material-icons"></i> {{ recipe.views }}
                </span>
            </div>

            <!-- Card Reveal (hidden until clicked) -->
            <div class="card-reveal">
                <p class="card-title"><i class="material-icons right">close</i></p>
                <p class="card-title grey-text text-darken-4">
                    <a href="{{ url_for('view_dessert', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">{{ recipe.recipe_name }}</a>
                </p>
                <p class="purple-text">{{ recipe.dessert_type }}</p>
                <p>{{ recipe.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}