{% extends "base.html" %}

{% block content %}

<h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</h1>

(actual page: view_dessert.html)
<br><br>

<a href="{{ url_for('update_dessert', recipe_id=thisRecipe._id, slugUrl=thisRecipe.recipe_slug) }}">Update Dessert</a>
<br><br>

{% if thisRecipe.img_src %}
<div id="recipe-img" style="background: url('{{ thisRecipe.img_src }}') center/cover no-repeat;" alt="Dessert"></div>
{% else %}
<div id="recipe-img" style="background: url('/static/img/no-img.png') center/cover no-repeat;" alt="No Image Available">
</div>
{% endif %}

<p>Recipe: {{ thisRecipe.recipe_name }}</p>
<p>Last Updated: {{ thisRecipe.date_added }}</p>
<p>Views: {{ thisRecipe.views }}</p>

<p>Total Time:
    {% if thisRecipe.total_hrs %}
        {{ thisRecipe.total_hrs }}
            {% if thisRecipe.total_hrs == "1" %} hr
            {% else %} hrs
            {% endif %}
        {% else %} 0 hrs
    {% endif %}

    {% if thisRecipe.total_mins %}
        {{ thisRecipe.total_mins }}
            {% if thisRecipe.total_mins == "1" %} min
            {% else %} mins
            {% endif %}
        {% else %} 0 mins
    {% endif %}
</p>

<p>
    Known Allergens:
    {% for allergen in thisRecipe.allergens %}
    <div class="chip">{{ allergen }}</div>
    {% endfor %}
</p>

<hr>

<p>Ingredients</p>
<ul>
    {% for ingredient in thisRecipe.ingredients %}
    <li>
        {{ ingredient }}
    </li>
    {% endfor %}
</ul>

<hr>

<p>Directions</p>
<ol>
    {% for direction in thisRecipe.directions %}
    <li>
        <!--{{ loop.index }}. {{ direction }}-->
        {{ direction }}
    </li>
    {% endfor %}
</ol>

{% endblock %}