{% extends "base.html" %}

{% block content %}

<div class="container">
    
    <!-- search function -->
    <form id="search">

        <ul class="collapsible" data-collapsible="accordion" id="search_form">
            <li class="recipe-card">
                <div class="collapsible-header purple white-text text-shadow-2">
                    <i class="fas fa-search material-icons"></i>
                    <h5 class="center-align bold upper font-special text-shadow-2">Search</h5>
                </div>
                
                <!-- search fields -->
                <div class="collapsible-body collection collapsible-collection">
                    <p><h6 class="center-align pink-text text-lighten-2 bold">Search keyword and/or category. Exclude recipes with allergens.</h6></p>
                    
                    <div class="row">
                        <div class="input-field col s12 m4">
                            <i class="fas fa-search purple-text material-icons prefix"></i>
                            <input id="search_keyword" name="search_keyword" type="text" class="form-control validate" autocomplete="off"
                                pattern="^[\w '.-]{3,50}$" data-length="50" placeholder="enter search keyword" value="{% if keyword_args %}{{ keyword_args }}{% endif %}">
                            <label for="search_keyword">
                                Keyword <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="3-50 alpha characters"></i>
                            </label>
                        </div>
                        
                        <div class="input-field col s12 m4">
                            <i class="fas fa-ice-cream purple-text material-icons prefix"></i>
                            <select id="search_dessert" name="search_dessert" class="form-control validate">
                                <option value="" selected>filter by Category</option>
                                {% for dessert in desserts %}
                                {% if dessert == category_args %}
                                <option value="{{ dessert }}" selected>{{ dessert }}</option>
                                {% else %}
                                <option value="{{ dessert }}">{{ dessert }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="search_dessert">Category</label>
                        </div>
                        
                        <div class="input-field col s12 m4">
                            <i class="fas fa-ban grey-text material-icons prefix"></i>
                            <select id="search_allergen" name="search_allergen" disabled multiple>
                                <option value="" disabled>exclude Allergens</option>
                                {% for allergen in allergens %}
                                {% if allergen in exclude_args %}
                                <!-- entire <option> must remain on single line, not beautified -->
                                <option value="{{ allergen }}" data-icon="{{ url_for('static', filename='img/allergens/'+allergen|lower+'.png') }}" selected>{{ allergen }}</option>
                                {% else %}
                                <!-- entire <option> must remain on single line, not beautified -->
                                <option value="{{ allergen }}" data-icon="{{ url_for('static', filename='img/allergens/'+allergen|lower+'.png') }}">{{ allergen }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label for="search_allergen">
                                Allergens <i class="fas fa-question-circle tooltipped" data-position="right" data-tooltip="requires Keyword or Category"></i>
                            </label>
                        </div>
                    </div>
                    
                    <!-- search buttons -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <button id="search_btn" class="btn waves-effect blue waves-light text-shadow-2 bold upper" type="submit" disabled>Search
                                <i class="fas fa-search left hide-on-small-only"></i>
                            </button>
                            <a class="btn waves-effect waves-purple pink lighten-2 text-shadow-2 bold upper" href="{{ url_for('view_desserts') }}">
                                <i class="fas fa-undo-alt material-icons left hide-on-small-only"></i>Reset
                            </a>
                        </div>
                    </div>

                    <!-- search results -->
                    <div class="row">
                        <div class="col s12 center-align">
                            {% if results_count == 0 %}
                            <h5 class="bold purple-text">found
                                <span class="pink-text font-abril search-results text-shadow-1">0</span>
                                recipe{% if results_count != 1 %}s{% endif %}
                            </h5>
                            {% elif results_count %}
                            <h5 class="bold purple-text">found
                                <span class="pink-text font-abril search-results text-shadow-1">{{ results_count }}</span>
                                recipe{% if results_count != 1 %}s{% endif %}
                            </h5>
                            {% endif %}
                        </div>
                    </div>
        
                </div>

            </li>
        </ul>

    </form>

    <!-- sort options -->
    <div class="row center-align">
        <a href="{{ url_for('view_desserts', sort='author', order=1, search_keyword=request.args.get('search_keyword'), search_dessert=request.args.get('search_dessert'), search_allergen=request.args.get('search_allergen'))}}"
            class="btn text-shadow-2 pink lighten-2">Author <i class="fas fa-user-edit material-icons"></i></a>
        <a href="{{ url_for('view_desserts', sort='user_favs', order=-1, search_keyword=request.args.get('search_keyword'), search_dessert=request.args.get('search_dessert'), search_allergen=request.args.get('search_allergen'))}}"
            class="btn text-shadow-2 pink lighten-2">Favorites <i class="far fa-heart material-icons"></i></a>
        <a href="{{ url_for('view_desserts', sort='last_edit', order=-1, search_keyword=request.args.get('search_keyword'), search_dessert=request.args.get('search_dessert'), search_allergen=request.args.get('search_allergen'))}}"
            class="btn text-shadow-2 pink lighten-2">Last Updated <i class="far fa-calendar-check material-icons"></i></a>
        <a href="{{ url_for('view_desserts', sort='recipe_name', order=1, search_keyword=request.args.get('search_keyword'), search_dessert=request.args.get('search_dessert'), search_allergen=request.args.get('search_allergen'))}}"
            class="btn text-shadow-2 pink lighten-2">Recipe Name <i class="fas fa-sort-alpha-down material-icons"></i></a>
        <a href="{{ url_for('view_desserts', sort='total_time', order=1, search_keyword=request.args.get('search_keyword'), search_dessert=request.args.get('search_dessert'), search_allergen=request.args.get('search_allergen'))}}"
            class="btn text-shadow-2 pink lighten-2">Total Time <i class="far fa-clock material-icons"></i></a>
        <a href="{{ url_for('view_desserts', sort='views', order=-1, search_keyword=request.args.get('search_keyword'), search_dessert=request.args.get('search_dessert'), search_allergen=request.args.get('search_allergen'))}}"
            class="btn text-shadow-2 pink lighten-2">Views <i class="far fa-eye material-icons"></i></a>
    </div>

</div>


<div class="container-95">

    <!-- start building the recipe cards -->
    <div class="row">

        <!-- create recipe card for initial display -->
        {% if recipes_search == "" %}
            {% for recipe in recipes_start %}
                {% include "partials/_cards.html" %}
            {% endfor %}
        {% else %}
        <!-- create recipe card for searched items -->
            {% for recipe in recipes_search %}
                {% include "partials/_cards.html" %}
            {% endfor %}
        {% endif %}

    </div>

</div>

{% endblock %}