{% extends "base.html" %}

{% block content %}

<h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</h1>

{% if recipe.img_src %}
<div id="recipe-img" style="background: url('{{ recipe.img_src }}') center/cover no-repeat;" alt="Dessert"></div>
{% else %}
<div id="recipe-img" style="background: url('/static/img/no-img.png') center/cover no-repeat;" alt="No Image Available">
</div>
{% endif %}

<p>Recipe: {{ recipe.recipe_name }}</p>
<p>Recipe by: {{ author }}</p>
<p>Category: {{ recipe.dessert_type }}</p>
<p>Last Updated: {{ recipe.date_updated }}</p>
<p>Views: {{ recipe.views }}</p>

<p>
    Known Allergens:
    {% for allergen in recipe.allergens %}
    <div class="chip">{{ allergen }}</div>
    {% endfor %}
</p>

<p>&ldquo;{{ recipe.description }}&rdquo;</p>

<hr>

<p>Ingredients</p>
<ul>
    {% for amount,measurement,ingredient in full_ingredient %}
    {% set unit_loop = loop %}
    <li>
        {{ amount }}

        {% if measurement == "not applicable" %}
        {% else %}
        <span class="tooltipped" data-position="right" data-tooltip="{{ units[unit_loop.index-1] }}">
            {{ measurement }} of
        </span>
        {% endif %}

        {{ ingredient }}
    </li>
    {% endfor %}
</ul>

<hr>

<p>Directions</p>
<p>Total Time:
    {% if recipe.total_hrs %}
    {{ recipe.total_hrs }}
    {% if recipe.total_hrs == "1" %} hr
    {% else %} hrs
    {% endif %}
    {% else %} 0 hrs
    {% endif %}

    {% if recipe.total_mins %}
    {{ recipe.total_mins }}
    {% if recipe.total_mins == "1" %} min
    {% else %} mins
    {% endif %}
    {% else %} 0 mins
    {% endif %}
</p>
<ol>
    {% for direction in recipe.directions %}
    <li>{{ direction }}</li>
    {% endfor %}
</ol>


{% if session.user == author or session.user == "admin" %}
<!-- UPDATE recipe -->
<a class="waves-effect waves-light btn" href="{{ url_for('update_dessert', recipe_id=recipe._id, slugUrl=recipe.recipe_slug) }}">UPDATE RECIPE</a>

<!-- DELETE recipe -->
<a class="waves-effect waves-light btn modal-trigger red" href="#modal-delete_recipe">DELETE RECIPE</a>
<div id="modal-delete_recipe" class="modal">
    <div class="modal-content">
        <h4>CONFIRM DELETION</h4>
        <h5>Your recipe will be deleted!</h5>
        <h6>This action cannot be undone.</h6>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light red btn " href="{{ url_for('delete_dessert', recipe_id=recipe._id) }}">Delete Recipe</a>
        <a href="#!" class="modal-close waves-effect waves-light btn">Cancel</a>
    </div>
</div>
{% endif %}

{% endblock %}